<!DOCTYPE html >
<html ng-app>
<head >

    <meta charset="utf-8">
    <title>HP FrontEnd Course</title>

    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="CSS/Step1.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/jquery-1.10.2.js"></script>
    <!--<script src="js/staticData.js"></script>-->
    <!--<script src="js/index.js"></script>-->
    <script src="js/Controllers.js"  ></script>

</head>
<body  >
<!--js loading-->


<!--master view-->

<div ng-controller="MasterView" class="container master-view">
<div class="page-header">
    <h1>HP Front End Course</h1>
</div>

<div class="row"  id="middle">

    <div class="span4" ng-controller="LeftSidebar"  id="leftSide">

        <div   class="rightListItem">
            <input type="text" class="searchInput" ng-model="searchQuery" placeholder="Search...">
            <button class="btn searchButton"  ng-click="searchText(searchQuery)">Search</button>
            <div>
                <input class="filterInput" ng-model="filterQuery.title" type="text" placeholder="Filter Video"/>
            </div>
        </div>

        <div class="videoList" >
            <ul class="unstyled">
                <li ng-repeat="video in videos | filter:filterQuery"  id="{{video.id}}" >
                    <h5>{{video.title}}</h5>
                    <div class="listVideoItem">
                        <div>
                            <img class="videoImage" src="{{video.thumbnail.hqDefault}}"/>
                        </div><button  class="btn add-to-playlist-button" ng-click="addToPlaylist(video)">Add</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="span3" >
            <div class="mainVideo" >
                <iframe class="videoDisplay"
                        src="{{videoLink}}" >
                </iframe>
            </div>

    </div>

</div>
<div class="row" id="strip">
    <div class="playList">
        <ul class="inline">
            <li ng-repeat="playlistVideo in playList " class="playListItem" id="{{playlistVideo.id}}" >
               <div class="playListInner">
                   <h5>{{playlistVideo.title}}</h5>
                   <div>
                       <img class="videoImage" src="{{playlistVideo.thumbnail.hqDefault}}"/>
                   </div>
                   <div class="videoImageButtonBar">
                       <button class="btn select-video-btn" ng-click="selectVideo(playlistVideo.id)">Select</button>
                       <button class="btn btn-danger remove-video-btn" ng-click="removeVideo(playlistVideo.id)">Remove</button>
                   </div>
               </div>

            </li>
        </ul>
    </div>

</div>


</div>




</body>
</html>